.env
__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
runtime-tmp/
release-package/
data/
tools/

run-slack-out.txt
run-slack-err.txt
server-exe-out.txt
server-exe-err.txt
slack-exe-out.txt
slack-exe-err.txt
